<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>Product Comments Satisfaction Model</title>
    <link rel="stylesheet" href="http://picturebag.qiniudn.com/blog.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/layouts/side-menu.css" %}">
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
    <script type="text/javascript">
    function menu() {
        var ul_menu  = document.getElementById('ul_menu');
        var aLi = ul_menu.getElementsByTagName("li");
        for(var i = 0; i < aLi.length; i++) {
                aLi[i].className = "pure-menu-item";
            }  
        this.className = "pure-menu-item menu-item-divided pure-menu-selected";
        }
    </script>
</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">MENU</a>
            <ul id="ul_menu" class="pure-menu-list">
                <li class="pure-menu-item menu-item-divided pure-menu-selected" onclick="menu()"><a href="/index" class="pure-menu-link">Search</a></li>
                <li class="pure-menu-item"><a href="/" class="pure-menu-link" onclick="menu()">Submit</a></li>
                <li class="pure-menu-item"><a href="/admin" class="pure-menu-link" onclick="menu()">Admin</a></li>
                </li>
            </ul>
        </div>
    </div>
    <div class="pure-g">
    <div class="pure-u-1-24">
    <span></span>
    </div>
    <div class="pure-u-23-24">
    {% block content %}{% endblock %}
    </div>
    </div>
</div>
</div>
<script src="{% static "js/ui.js" %}"></script>

</body>
</html>
